.App {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.gap-10 {
  gap: 10px;
}

h4 {
  padding: 0;
  margin: 5px;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: black;
  font-family: 'OpenSans', sans-serif;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #0071E3;
}

.card {
  background-color: white;
  margin-bottom: 20px;
  width: 20vw;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-child {
  margin: 10px;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  cursor: pointer;
  border: transparent 1px solid;
}

.card-child:hover {
  background-color: #f0f0f0;
}

.child {
  width: 100%;
}

.select {
  background-color: #f0f0f0;
  border: black 1px solid;
}

.display-color {
  position: absolute;
  top: 10%;
  left: 20px;
  z-index: 10;
}

.display-menu {
  position: absolute;
  top: 10%;
  left: 80px;
  z-index: 10;
}

.pastille {
  width: 4vh;
  height: 4vh;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid black;
}

.closeStyle {
  float: right;
  margin: 25px 0;
  cursor: pointer;
}

.closeStyle:hover {
  color: #0071E3;
}